<div class="row">
	<div class="span9">
		<h1>Progress</h1>
			<p>Hi Hi. There.<br />

	<br />FORD ...............................................................<br />
	
<br /><strong>Thematic Areas:</strong>

<br />Education, Literacy, Health, Drug Abuses, Children, Peace, Environment, Employment, Livelihood, Human Rights, Poverty Alleviation and Rural Development.<br />

<br /><strong>Demographic Focus:</strong>	Rural Areas<br />

<br /><strong>Operational Area:</stong>		Khyber Pakhtunkhwa (Pakistan)</p>
	</div>
	
	
</div>


