<h1>Structure</h1>

<br /><strong>Board of Governors (BoG)</strong><br />

<table class="table" border="3">
<tr>
<th>S#</th>
<th>Name</th>
<th>Occupation</th>
<th>Address</th>
</tr>

<tr>
<td style="text-align:center;width:40px;">1.</td>
<td style="width:130px;">Rooh ul Amin Khan <br /> M.Phil Scholar, BS-18</td>
<td style="width:450px;">Lecturer Mass Communication, International Islamic University, Islamabad</td>
<td style="width:180px;">Vill: Ali Baig, Distt: Nowshera <br /> 0333-9102709</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">2.</td>
<td style="width:130px;">Saeed Ahmad <br /> M.Com, PIPFA, AAO (BS-17)</td>
<td style="width:450px;">A.G office, currently working as Executive (Finance), PPHI</td>
<td style="width:180px;">P/O: Karim Pura, House# 1188, Moh: Jogiwara, Peshawar</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">3.</td>
<td style="width:130px;">Muhammad Sayyam <br /> BS(CS)</td>
<td style="width:450px;">Assistant (Admin and HRM), PPHI</td>
<td style="width:180px;">Moh: Sarbanan, Lahori Gate, Peshawar <br /> 0344-2999790</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">4.</td>
<td style="width:130px;">Muhammad Arif Khan Advocate </td>
<td style="width:450px;">Advocate Peshawar High Court</td>
<td style="width:180px;">H# 530, St# 14, Sector# E-2, Phase-I, Hayatabad, Peshawar <br /> 0333-9179951</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">5.</td>
<td style="width:130px;">Ali Aftab Sabri <br /> MBBS </td>
<td style="width:450px;">Medical Officer, LRH Casualty</td>
<td style="width:180px;">Feroz Lodge, Rafiq Lane, Qayum Stadium, Peshawar <br /> 0345-9038388</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">6.</td>
<td style="width:130px;">Dr. Ajmal Khan <br /> MBBS </td>
<td style="width:450px;">BHU Swat</td>
<td style="width:180px;">St# 30, H# 117, Kanju Township Swat <br /> 0300-9029000</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">7.</td>
<td style="width:130px;">Amir Iqbal <br /> Pharma-D </td>
<td style="width:450px;">Pharmacist, PPHI-KP/FATA</td>
<td style="width:180px;">Vill & P/O: Kakki, Distt & Tehsil Bannu <br /> 0333-9957073</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">8.</td>
<td style="width:130px;">Shafqat Haroon Awan <br /> B.A + Diploma in Computer Science</td>
<td style="width:450px;">Managing Director, SS Computer College, Tarnab Farm, Peshawar</td>
<td style="width:180px;">Vill: Tarnab Farm, Peshawar <br /> 0333-9388450</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">9.</td>
<td style="width:130px;">Sajjad Ali<br /> B.Sc (Diploma in Health Technology)</td>
<td style="width:450px;">Medical Technician<br /> BHU, Nowshera</td>
<td style="width:180px;">Vill: Tarkha, Distt: Nowshera <br /> 0333-9112937</td>
</tr>
</table>