<h1>Constitution</h1>
<br /><p><strong>Article No.1. 	Name of the NGO:</strong> Frontier Organization for Rural Development (FORD)<br />

<br /><strong>Article No.2.  Address:</strong>2nd Floor, Rehmat Khan Plaza, Old NBP Building, G.T Road, Taru Jabba, District Nowshera<br />

<br /><strong>Article No.3.	Area of operation:</strong>Khyber Pakhtunkhwa/FATA, Pakistan<br /> 

<br/><strong>Article No.4.	Aims and Objectives:</strong>

<br />1. 	To spread I.T education in the province.
<br />2. 	To create awareness about civics & human rights. 
<br />3. 	To mobilize communities and establish village level community organization (COs), to manage rural development.  
<br />4. 	To facilitate linkage of line department and community organization (COs) including donor funded project/programs.
<br />5. 	To build institutional capacity within target communities for effective and efficient services delivery on sustainable basis. 
<br />6. 	To improve health and education facilities in the rural areas and create awareness about deadly and communicable diseases. 
<br />7. 	To promote and establish mother child health care (MHC) services in the rural areas to minimize the mortality rate and to import basic knowledge of family welfare and planning. 
<br />8. 	To conduct surveys and studies for providing basis for evidence-lead planning of development programs at national level. 
<br />9. 	To eliminate environmental pollution, drugs addiction and identify its danger and prevention.
<br />10. 	To combat the child labor through education and skill training
<br />11. 	To provide technical and consultancy services to government/non-government organization, institutions, agencies and departments at all level.<br />




<br /><strong>Article No.5. (Membership) Eligibility for membership:</strong>A person shall be eligible for membership if he/she is above 18 years of age, is resident with in the project area and pays Rs. 200/- per annum as membership fee. He/she should agree to abide by the constitution, its aims and objectives.<br />

<br /><strong>Article No.6.	(Organizational structure):</strong>The organizational structure of the society shall consist of the general body, the board of governors and executive body.

<br /><strong>i. 	Composition of the Board of Governors.</strong>

<br />The Board of Governors shall consist of NGO members as given in Article 5. The board of governors shall approve NGO policy and the Executive Body shall implement it. A member resign from the board during his/her tenure in office, the executive body shall nominate a new member to join the board. Acceptance of the new member will be on simple majority of the governors.

<br />ii.        Composition of the Executive Body:</strong>

<br />The executive body shall consist of seven office bearers as follows:

<br />1. 	Chief Executive (CE)
<br />2. 	Program Coordinator (PC)
<br />3. 	Deputy Program Director (DPD) 
<br />4. 	Adman & Finance Officer (AFO)
<br />5. 	Human Resource Development Officer (HRDO)
<br />6. 	Natural Resources Manager (NRM)
<br />7. 	Field Officer (FO)
<br />8. 	Technical and Financial Advisors (need based)<br />



<br /><strong>Article No.7.	Duties & Responsibilities of the office bearers:</strong>

<br /><strong>i). Chief Executive Responsibilities:</strong>

<br />	The chief Executive will be ultimately responsible for the management of the organization as well report to a volunteer Board of Governors.

Specifically, the responsibilities include:

<br />Short and long-term strategic planning
<br />Operational and programming activities in the organization
<br />Fiscally sound financial management
<br />Marketing and public relations
<br />Human resource management
<br />Development of strong board, volunteer and membership relations
<br />Representation of the organization in the community at large and among its constituents 
<br />Completing assignments as directed by the Board

<br /><strong>ii). Program Coordinator Basic function:</strong>

<br />	The Program Coordinator will provide general administrative support to the Chief Executive and other professional staff. Plans and coordinates logistics for program meeting and conferences.

<br /><strong>Duties and Responsibilities:</strong>

<br />Plan and coordinate logistics for meetings/seminars
<br />Monitor dissemination of conference readings and reports, coordinate and prepare publications
<br />Manage correspondence with past and potential seminar participants
<br />Process receipts, invoices, expenses and reimbursements
<br />Maintain and update mailing lists and databases
<br />Open and process daily mail 
<br />Handle written and telephone requests for information
<br />Assist Chief Executive as needed

<br /><strong>iii. Deputy Director program:</strong>

<br />	He/she will assist the Program Coordinator in the activities of the organization and prepare the report of the activities to support the Program Coordinator.

<br /><strong>iv. Admin & Finance Officer General functions:</strong>

<br />	Performs moderate to complex financial management and accounting work performed in accordance with established policies and procedures. Work is performed under the general supervision of assigned supervisor and reviewed through observations, conferences, reports and results achieved.

<br /><strong>Representative Duties/Assignments</strong>

<br />Duties may vary based on area of assignment
<br />Performs purchasing functions, including processing purchasing requisitions in an efficient and timely manner, and reviewing requisition documents for accuracy and completeness.
<br />Performs accounts payable functions, including processing vendor concerns.
<br />Maintains and monitors accounts receivable aging list and assists in the collection of past due accounts.
<br />Collects, reviews, and summarizes billing data from divisions and prepares settlements.
<br />Prepares and reviews labor distribution for cost accounting purposes.
<br />Analyzes and recommends non-rental rates.
<br />Tracks and reviews budget vs. actual performance, analyzes variances, and researches concerns.
<br />Coordinates the budget preparation process for assigned business units with the department/division.
<br />Prepares material for presentations and performs spreadsheet analysis.
<br />Performs other related duties as assigned.  

<br /><strong>v. Human Resources Development Officer:</strong>

<br /><strong>General Functions</strong>
<br />Performs professional and technical work providing human resources support to a department or division in primarily one area of human resources or as an entry-level generalist

<br />Work is performed under the supervision of a higher-level human resources position or assigned supervisor and is reviewed through observations, conferences, reports and results achieved.  

<br /><strong>vi. Field Officer:</strong>

<br /><strong>General Functions </strong>

<br />	Performs professional and administrative social work and supervision of a major program activity. Work is performed under the supervision of an assigned supervisor and is reviewed and evaluated through observations, file reviews, conferences, reports and results achieved. 
<br /><strong>Representative Duties /Assignments:</strong>

<br />	Plans, assigns, directs, performs and evaluates the staff and operations of a social service. Assures program compliance with province, division, contract and accreditation requirements. 

<br />Develops and implements written procedures to provide program services. 
<br />Interprets and applies established rules and regulations governing the area to which assigned, staffing and workload assignments, and expenditures of funds. 
<br />Initiates and provides general direction in special studies, projects, and surveys. 
<br />Reviews and analyzes activity reports and statistics for continuous awareness of operational efficiency and effectiveness and makes recommendations as needed to supervisor. 
<br />Communicates with and visits other public and private welfare agencies, hospitals, and other institutions in order to exchange and develop resources. 
<br />Performs other related duties as required. 
<br /><strong>vii. Natural Resources Manager</strong>

<br /><strong>General functions</strong>

<br />	The Natural Resource Management (NRM) Officer focuses on various respects of community work based on the protection and restoration of natural resources. To cooperation other senior staff, whose main responsibility is achieving the objectives of the NRM Program through effective implementation and management. The NRM should actively identify potential target beneficiaries and help stakeholders to fully understand program objectives. He will also help in the development of environmental protection-based grant initiatives and serve as a liaison, offering support and guidance to target beneficiaries to promote program implementation and maximize results.

<br /><strong>Duties and responsibilities:</strong>
<br />Play a key role in development, design, annual planning, budgeting, implementation, coordination and follow-up management of NRM programs.
<br />Develop a mechanism to reduce the risk of livestock production by addressing NRM-related issues such as conflicts between wildlife and livestock, livestock feed supplement, and the implementation of community-based insurance schemes.
<br />Address the issue of land degradation through rurally-based grassland/ forest / water planning, management, and restoration. 
<br />Support the design and implementation of vocational training for agro-pastoral communities with improved use techniques of resource sharing, grazing, zoning, animal husbandry, forestry, irrigation, planting and others that pertain to resource sustainability.
<br />Work with project staff to support province and township animal husbandry technicians to engage in participatory technology development and extension activities, focusing on capacity building among staff and partners and gender mainstreaming.
<br />Work with prefecture as well as researchers to develop and implement rangeland co-management institutions and plans throughout pilot sites.
<br />Facilitate staff and partners in planning project activities, managing corresponding budgets, and developing and implementing participatory monitoring and evaluation.<br />
<br /><strong>Article No.7.	(Meetings):</strong>

<br />1.	The executive council will hold regular monthly meetings, when requires emergency meetings with a quorum of at least five members. 
<br />2.	A no confidence motion may be moved against any member with 2/3 of the executive council majority.<br />

<br /><strong>Article No.8.	(Financial administration)</strong>

<br />1. Funding may be from national and international agencies, local individuals or government agencies 
<br />2.	The funds shall be deposited in a local bank with the Chief Executive and Program Coordinator as signatories.
<br />3.	The NGO’s financial matters shall be audited every year by registered chartered accountants.<br />

<br /><strong>Article No.9.	(Amendments):</strong>

<br />Amendments in the constitution shall be approved and recommended by all members of the executive council and communicated to the registration authority. </p>
