<h1>Contact</h1>

<br /><p><strong>Tel:</strong> 091-2964434<br />
<strong>Email:</strong> fordngo@gmail.com<br />
<strong>Cell:</strong>  0300-5995637<br />

<strong>Address:</strong>	I.Net Professional Services Academy-IPSA<br />
		2nd Floor, Haji Rahmat Khan Plaza<br />
		Old NBP building, G.T Road Taru Jabba<br />
		Nowshera, Khyber Pakhtunkhwa</p>
