<h1>Structure</h1>

<br /><strong>Executive Body</strong><br />

		<table class="table" border="3">
<tr>
<th>S#</th>
<th>Name/ Qualification</th>
<th>Designation</th>
<th>Address</th>
</tr>

<tr>
<td style="text-align:center;width:40px;">1.</td>
<td style="width:130px;">Fazli Azeem Quraishi <br /> M.A (Political Sc + IR)</td>
<td style="width:450px;">Chief Executive</td>
<td style="width:180px;">Vill: Ali Baig, Distt: Nowshera <br /> 0300-5995637</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">2.</td>
<td style="width:130px;">Jameel Hassan<br /> M.A (Sociology + Political Sc.)</td>
<td style="width:450px;">Program Coordinator (PC)</td>
<td style="width:180px;">Vill: Ghalji Kander Khel, Warsak Road, P/O: Mathra, Tehsil & Distt: Peshawar <br /> 0300-9392074</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">3.</td>
<td style="width:130px;">Sohail Nasir<br /> M.A (I.R)</td>
<td style="width:450px;">Deputy Program Director</td>
<td style="width:180px;">Vill: Wazir Garhi, P/O: Pabbi, Distt & Tehsil: Nowshera <br /> 0333-5931332</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">4.</td>
<td style="width:130px;">Asghar Khan Afridi<br /> MBA (Marketing)</td>
<td style="width:450px;">Account and Finance Officer</td>
<td style="width:180px;">Qom Koki Khel, Tapa Sher Khan Kehl, China Kile Khyber Agency <br /> 0332-9291559</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">5.</td>
<td style="width:130px;">Adil Iqbal<br /> MBA (Finance)</td>
<td style="width:450px;">Human Resource Dev. Officer</td>
<td style="width:180px;">H 63/b, Zaryab Colony Peshawar.  <br /> 0312-9168627</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">6.</td>
<td style="width:130px;">Waheedullah Khan<br /> B.Sc Agr. Horticulturist</td>
<td style="width:450px;">Natural Resource Manager</td>
<td style="width:180px;">Vill & P/O: Ali Baig, Distt & Tehsil: Nowshera <br /> 0333-9229758</td>
</tr>

<tr>
<td style="text-align:center;width:40px;">7.</td>
<td style="width:130px;">Shah Fahad<br /> B.A (Law)</td>
<td style="width:450px;">Field Officer</td>
<td style="width:180px;">Vill & P/O: Ali Baig, Distt & Tehsil: Nowshera <br /> 0333-9389761</td>
</tr>
</table>