<h1>Institutes</h1>
<p> <br /><strong>1. I.Net Professional Services Academy (IPSA):</strong> 	IPSA was established in July 2010 in Taru Jabba district Nowshera initially with the name I.Net computer academy (INCA) only for computer literacy. Later in July 2011, FORD owned INCA with the objectives to help the needy and poor students of the area with affordable fee structure in the field of computer and Information Technology (I.T). The academy renamed in 2012 and titled as I.Net Professional Services Academy (IPSA) as recommended by Executive Council of FORD, mainly with the aim to enhance its activities and launch more technical and professional trainings for facilitation of the local students. Services of IPSA are mainly utilized to support FORD financially. IPSA is equipped with the following sections/ departments:
a. Computer Lab composing of 10 computers systems
b. Internet Club with DSL facility
c. Composing Center<br />

<br /><strong>2. Library:</strong>	A library of 150 books comprising history, I.T/ computers, science, culture, art, law, religious and Islamic books has been established. Arrangements for other necessary materials are in process. Membership system is being introduced. Apart of these books the Managing IPSA has compiled 3 books of computers comprising of Introduction to computers, Windows-XP and Internet Fundamentals in Urdu, provided to students for arranging copies which are beneficial both financially and linguistically (easy to understandable) for the students. Compilation and preparation of more books of computer in Urdu for facility of the local students is in process.<br />

<br /><strong>3. English Language Center:</strong>	An English Language Center also established by FORD for facility of the local students for learning English.<br /> 

<br /><strong>4. Job Center:</strong>	A job center established inside the IPSA for facilitation of the local educated job seekers. An internet club already established in IPSA is utilized for this purpose.</p> 