<div class="row">
	<div class="span9">
		<h1>Introduction</h1>
			<p>Frontier Organization for Rural Development (FORD) is a non-governmental, non-political, non-profitable public welfare organization exclusively focusing on the development of Rural Area in Khyber Pakhtunkhwa (Pakistan). FORD goal is to address basic health, education, literacy, trainings and similar other community related needs as well as income generation opportunities by providing skill trainings in Rural Areas of Khyber Pakhtunkhwa.<br />

	<br />FORD is registered organization under the Society Registration Act XXI of 1860. FORD is already actively involved in organizing capacity- building trainings and courses from time to time for the students and professionals of the local area. The expenses are arranged by FORD through its own sources. Courtesy a few dedicated and committed staff members taking keen interest in the activities of the organization but for a sustained and continuous process as far as its target objectives are concerned, the organization is in desperate need of proper and regular funding. <br />

	<br />It is of course imperative for its very existence and sustained operations in larger and broader public interest. Furthermore, we have an added advantage of having trained staff involved in our programs. FORD also intends to provide valuable technical help to different CBOs and NGOs in their operations and welfare activities such as Project Management, Finance Management and similar other fields. Professionally skilled and trained staff can be helpful in welfare and rural development ventures.<br /> 

	<br />All these services to other organizations are being provided voluntarily and we are determined to continue our assistance. FORD believes and focuses on the capacity building of its staff because only trained, skilled and devoted staff can work for the development of communities with adequate motivation and necessary know how.<br /> 	
	<br />We would also like to explain that humankind particularly that in the under developed Third World is presently facing enormous difficulties where most of the populace lives below the poverty line and where ignorance, illiteracy, disease and host of social and economic problems have reduced a huge humanity to an extremely undignified and painful existence. Some of Muslim Asian countries have not be enable to provide even very basic services to their people.<br />

	<br />The overall socio economic conditions in these states are pathetic beyond description thus generating a vicious circle of abject poverty leading to all kinds of crime and more serious criminal activity with all the state organs looking impotent and helpless because of numerous reasons. In such bleak and dark circumstances, the need of social welfare bodies and their self less work for a noble cause is growing with greater velocity.<br /> 

	<br />In short FORD takes a keen interest to deliver such services which can deliver a message of peace and rest and best livelihood to the people of its working area specially and to the all world commonly.<br />
	
<br /><strong>Thematic Areas:</strong>

<br />Education, Literacy, Health, Drug Abuses, Children, Peace, Environment, Employment, Livelihood, Human Rights, Poverty Alleviation and Rural Development.<br />

<br /><strong>Demographic Focus:</strong>	Rural Areas<br />

<br /><strong>Operational Area:</stong>		Khyber Pakhtunkhwa (Pakistan)</p>
	</div>
	
	<div class="span 3">
		<h2>Updates</h2>
	<ul class="nav nav-pills nav-stacked">
		<% @updates.each do |update| %>
  			<li> <%= link_to update.title, update %></li>	
		<% end %>
	</ul>
	</div>

	
</div>


