<h1>Institutes</h1>
<div class="span8">
<p> <br /><strong> I.Net Professional Services Academy (IPSA):</strong> 	<br />IPSA was established in July 2010 in Taru Jabba district Nowshera initially with the name I.Net Computer Academy (INCA) only for computer literacy. Later on in July 2011, FORD signed an agreement with INCA with the objectives to help the needy and poor students of the area with affordable fee structure in the field of computer and Information Technology (I.T). The academy renamed in 2012 and titled as I.Net Professional Services Academy (IPSA) as recommended by Executive Council of FORD, mainly with the aim to enhance its activities and launch more technical and professional trainings for facilitation of the local students, a motive behind it is to establish a technical school for facility of the local students. Services of IPSA are mainly utilized to support FORD financially. IPSA is equipped with the following sections/ departments:
<br />a. Computer Lab composing of 10 computer systems
<br />b. Internet Club with DSL facility
<br />c. Composing Center<br />
</div>

<div class="span3">
         
              <%= image_tag("IPSA Logo.jpg", :alt=>"IPSA") %>
</div>